body {
  margin: 0;
  padding: 0;
  background-color: #404959;
  position: relative;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
}

mapArea {

}

#mapZone {
  width: 4px;
  height: 4px;
  background-color: black;
  position: absolute;
  top: 75px;
  left: 75px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  border: 2px solid black;
}

button {
  -webkit-appearance: button;
  outline: none;
  font-family: 'Press Start 2P', cursive;
  font-size: 8px;
  padding: 4px;
}

section {

}

sectionCombat {

}

#commandZone{
  background-color: #404959;
  height: 80vh;
	width: 30vw;
  border-right: 2px solid #5e5542;
  position: relative;
}

#playerCharacterZone {
  height: 80vh;
	width: 20vw;
  background-color: #404959;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#centerZone{
  height: 80vh;
	width: 30vw;
  position: relative;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

#enemyZone {
  background-color: #404959;
  height: 80vh;
	width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#actionList{


  width: 100%;
}

.alignListBottom {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.permaHidden {
  display: none;
}

#combatLog {
  /* height: 100px; */
  overflow: auto;
}

li {
  width: 100%;
  list-style: none;
}

.commandButton{
  width: 100%;
  height: 50px;
  border-radius: 2px;
}

.commandButton:hover{
  background: rgba(100, 100, 100, .6);
}

.combatButton {
  /* display: none; */
  width: 100%;
  height: 50px;
}

.combatButton:hover {
  background: rgba(100, 100, 100, .6);
}

.initOrderEntry {
  background-color: #e5c990;
  border: 2px solid #5e5542;
  border-radius: 2px;
  height: 3em;
  width: 100%;
  font-size: 11px;
  box-sizing: border-box;
  margin: 0;
}

.marginOnePx {
  margin: 1px;
  width: 100%;
}
div {

}

.menuBoxCol {
  display: flex;
  flex-flow: column;
  width: 12em;
}

.menuBoxRow {
  display: flex;
  flex-flow: row;
  width: 12em;
}

.helpBox {
  display: none;
}

.levelUpBox {
  display: none;
}

.centerTextbox{
  background-color: #e5c990;
	height: 350px;
	width: 550px;
	border-radius: 3px;
	margin: 150px auto;
  border: 3px solid white;
  text-align: center;
}

#mapHealthBarZone {
  position: absolute;
  top: 75px;
  left: 0px;
  width: 71px;
  background-color: #e5c990;
  border: 2px solid #5e5542;
  display: flex;
  flex-flow: column;
}

.healthBox {
  width: 6em;
  background-color: #e5c990;
  border: 2px solid #5e5542;
  text-align: center;
}

#combatBox {
  background-color: #e5c990;
	height: 80vh;
	width: 100vw;
	border-radius: 2px;
  /* box-sizing: border-box; */
	margin: 0;
  border: 3px solid #5e5542;
  text-align: center;
  position: relative;
  display: flex;
  flex-flow: row;
}

#combatLogDiv {
  background-color: #e5c990;
  border: 2px solid #5e5542;
  height: 20vh;
	width: 100vw;
  position: absolute;
  bottom: -20vh;
  left: -3px;
  transform: translate(50%, 0%;);
  font-size: 11px;
  box-sizing: border-box;
}

.pcStatBlock {
  width: 100%;
  height: 33.3%;
  background-color: #e5c990;
  border: 2px solid #5e5542;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.enemyStatBlock {
  width: 100%;
  height: 25%;
  background-color: #e5c990;
  border: 2px solid #5e5542;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.healthContainer {
  background-color: black;
  height: 20px;
  width: 100px;
  display: flex;
  border-radius: 3px;
  border: 1px solid #5e5542;
  margin: 0 auto;
}

.deadCreature {
  background-color: #4f2b2b;
}

.flexBoxRow {
  display: flex;
  flex-direction: row;
}

bar {

}

.woundBar {
  background-color: #db3618;
  height: 100%;
  display: flex;
}

.vigorBar {
  background-color: green;
  height: 100%;
}


modal {
  background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
}

#combatOverlay {
  background-color: rgba(80,0,0,0.6);
  z-index: 2;
  display: none;
  width: 100vw;
  height: 100vh;
}

.menuButtons{
  background-color: white;
  border-radius: 2px;
}

.menuButtons:hover{
  background: rgba(100, 100, 100, .6);
}

h3 {
  padding: 0;
  margin: 1vh 0;
}

h4{
  padding: 0;
  margin: 1vh 0;
}

/* Gameplay rendering elements for the map*/
/* Order here matters for rendering purposes - use caution when swapping these around! */
roomDiv {
  width: 80px;
  height: 80px;
  background-color: black;
  box-sizing: border-box;
  border: 2px solid black;
}

.roomButton {
  width: 80px;
  height: 80px;
  background-color: black;
  box-sizing: border-box;
  border: 2px solid black;
  font-size: 12px;
}

.roomButton:hover {
  /* background: rgba(180, 180, 180, .4); */
  border: 6px dashed  #404959;
}

.topDoor {
  border-top: 1px solid grey;
}

.rightDoor {
  border-right: 1px solid grey;
}

.bottomDoor {
  border-bottom: 1px solid grey;
}

.leftDoor {
  border-left: 1px solid grey;
}

.explorable {
  background-color: grey;
  border: 10px solid black;
  font-size: 12px;
}

.explored {
  background-color: #e5c990;
}

.currentLoc {
  background-color: red;
}
.hidden {
  background-color: black;
  border: 2px solid black;
  font-size: 0px;
}






















/*IT WORKS DON'T TOUCH IT*/
/* For mobile */
@media only screen and (max-width: 800px) {
  body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
    overflow: scroll;
  }

  #mobileFrame {
    width: 100em;
    height: 100em;
    display: inline-block;
  }


  mobileDeviceStupidityOverflowCompensator {
    position: fixed;
    left: 0%;
    top: 5em;
    width: 200px;
    height: 200px;
    overflow: scroll;
    display: flex;
  }


  mapArea {

  }

  #mapZone {
    width: 4px;
    height: 4px;
    background-color: black;
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 2px solid black;
    overflow: scroll;
    margin: 0;
  }

  button {
    -webkit-appearance: button;
    outline: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 8px;
    padding: 4px;
  }

  section {

  }

  sectionCombat {
    font-size: 0.1em;
  }
/*
  #commandZone{
    background-color: #404959;
    width: 40%;
    height: 100%;
    position: relative;
  }

  #playerCharacterZone {
    width: 20%;
    height: 100%;
    background-color: #404959;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #centerZone{
    width: 20%;
    height: 100%;
    min-width: 20%;
    max-width: 20%;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  #enemyZone {
    background-color: #404959;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
*/
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #actionList{
    width: 100%;
  }

  .alignListBottom {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .permaHidden {
    display: none;
  }

  #combatLog {
    overflow: auto;
  }

  li {
    width: 100%;
    list-style: none;
  }

  .commandButton{
    width: 100%;
    height: 2em;
    border-radius: 2px;
    padding: 0;
    margin: 0;
  }

  .commandButton:hover{
    background: rgba(100, 100, 100, .6);
  }

  .combatButton {
    width: 100%;
    height: 50px;
    background-color: white;
  }

  .combatButton:hover {
    background: rgba(100, 100, 100, .6);
  }

  .initOrderEntry {
    background-color: #e5c990;
    border: 1px solid #5e5542;
    border-radius: 1px;
    height: 2.5em;
    width: 100%;
    font-size: 0.1em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .marginOnePx {
    margin: 1px;
    width: 100%;
  }
  div {

  }

  .helpBox {
    display: none;
  }

  .levelUpBox {
    display: none;
  }

  .centerTextbox{
    background-color: #e5c990;
  	height: 35em;
  	width: 35em;
  	border-radius: 3px;
  	margin: 5em 0 0 5em;
    border: 3px solid white;
    text-align: center;
    font-size: .3em;
  }

  #mapHealthBarZone {
    position: absolute;
    top: 0px;
    left: 50%;
    background-color: #e5c990;
    border: 2px solid #5e5542;
    display: flex;
    flex-flow: row;
  }

  .healthBox {
    width: 6em;
    background-color: #e5c990;
    border: 2px solid #5e5542;
    text-align: center;
  }

  #combatLogDiv {
    background-color: #e5c990;
    border: 2px solid #5e5542;
    height: 40vh;
  	width: 100vw;
    position: absolute;
    bottom: -40vh;
    left: -3px;
    transform: translate(50%, 0%;);
    font-size: .5em;
    box-sizing: border-box;
  }

.pcStatBlock {
  width: 100%;
  height: 33.3%;
  background-color: #e5c990;
  border: 2px solid #5e5542;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.enemyStatBlock {
  width: 100%;
  height: 25%;
  background-color: #e5c990;
  border: 2px solid #5e5542;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

  .healthContainer {
    background-color: black;
    height: 20px;
    width: 100px;
    display: flex;
    border-radius: 3px;
    border: 1px solid #5e5542;
    margin: 0 auto;
  }

  .deadCreature {
    background-color: #4f2b2b;
  }

  .flexBoxRow {
    display: flex;
    flex-direction: row;
  }

  bar {

  }

  .woundBar {
    background-color: #db3618;
    height: 100%;
    display: flex;
  }

  .vigorBar {
    background-color: green;
    height: 100%;
  }


  modal {
    background-color: rgba(0,0,0,0.4);
  	position: fixed;
  	top: 0;
  	left: 0;
  	height: 100%;
  	width: 100%;
  	z-index: 1;
  	overflow: auto;
  }

  #combatOverlay {
    background-color: rgba(80,0,0,0.6);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
  }


  .menuButtons:hover{
    background: rgba(100, 100, 100, .6);
  }

  h3 {
    padding: 0;
    margin: 1vh 0;
  }

  h4{
    padding: 0;
    margin: 1vh 0;
  }

  roomDiv {
    width: 80px;
    height: 80px;
    background-color: black;
    box-sizing: border-box;
    border: 2px solid black;
  }

  .roomButton {
    width: 80px;
    height: 80px;
    background-color: black;
    box-sizing: border-box;
    border: 2px solid black;
    font-size: 1em;
  }

  .roomButton:hover {
    border: 6px dashed  #404959;
  }

  .topDoor {
    border-top: 1px solid grey;
  }

  .rightDoor {
    border-right: 1px solid grey;
  }

  .bottomDoor {
    border-bottom: 1px solid grey;
  }

  .leftDoor {
    border-left: 1px solid grey;
  }

  .explorable {
    background-color: grey;
    border: 10px solid black;
    font-size: 12px;
  }

  .explored {
    background-color: #e5c990;
  }

  .currentLoc {
    background-color: red;
  }
  .hidden {
    background-color: black;
    border: 2px solid black;
    font-size: 0px;
  }
}
